* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.slider {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: linear-gradient(to left, #ba7455, #d1a986);
   z-index: -1;
}

nav {
   min-height: 10vh;
   display: grid;
   grid-template-columns: 10% 1fr 1fr 10%;
   align-items: center;
   color: #ffffff;
}

nav ion-icon {
   font-size: 36px;
   justify-self: end;
}

#logo {
   grid-column: 2 / 3;
   font-size: 26px;
}

section {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   /* background-color: lightblue; */
}

.hero {
   width: 100%;
   height: 60%;
   position: relative;
}

.hero img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero::after {
   content: "";
   background: #000;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: .3;
}

.headline {
   position: absolute;
   top: 70%;
   left: 15%;
   transform: translate(-20%, -70%);
   font-size: 100px;
   color: #ffffff;
   z-index: 3;
}